ParserIO_WSClient/Web References/ParserIO_local/ParserIO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Phast/ParserIO" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Phast/ParserIO" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phast ParserIO - Version 1.0.0.4 12-11-2014</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Phast/ParserIO">
      <s:element name="Parse_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Parse_1Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ACL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ADDITIONALID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="containsOrMayContainId" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CONTENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GTIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LIC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LPP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NaS7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedBESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedExpiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedPRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnNaSIdNameParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SymbologyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UoM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UPN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARCOUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARIANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Parse_1SoapIn">
    <wsdl:part name="parameters" element="tns:Parse_1" />
  </wsdl:message>
  <wsdl:message name="Parse_1SoapOut">
    <wsdl:part name="parameters" element="tns:Parse_1Response" />
  </wsdl:message>
  <wsdl:portType name="ParserIO_WSSoap">
    <wsdl:operation name="Parse_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes a barcode value as input and returns a full set of information</wsdl:documentation>
      <wsdl:input message="tns:Parse_1SoapIn" />
      <wsdl:output message="tns:Parse_1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParserIO_WSSoap" type="tns:ParserIO_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse_1">
      <soap:operation soapAction="urn:Phast/ParserIO/Parse_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ParserIO_WSSoap12" type="tns:ParserIO_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse_1">
      <soap12:operation soapAction="urn:Phast/ParserIO/Parse_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParserIO_WS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phast ParserIO - Version 1.0.0.4 12-11-2014</wsdl:documentation>
    <wsdl:port name="ParserIO_WSSoap" binding="tns:ParserIO_WSSoap">
      <soap:address location="http://localhost/ParserIO/ParserIO.asmx" />
    </wsdl:port>
    <wsdl:port name="ParserIO_WSSoap12" binding="tns:ParserIO_WSSoap12">
      <soap12:address location="http://localhost/ParserIO/ParserIO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>