ParserIO_WSBenchmark/Web References/ParserIO/CIOdm_ParserIO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Phast.fr/RLIO/CIOdm" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.Phast.fr/RLIO/CIOdm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phast CIOdm ParserIO - version 0.26 du 19/04/11</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Phast.fr/RLIO/CIOdm">
      <s:element name="Parse_11">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code_barres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_11Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Parse_11Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Variante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entreprise" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Produit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GTIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LIC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateRaw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateNormale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Erreurs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_22">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code_barres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_22Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Parse_22Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Variante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entreprise" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Produit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GTIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LIC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedBESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedExpiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONTENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedPRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARCOUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARIANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Erreurs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_30">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code_barres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Parse_30Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Parse_30Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ACL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ADDITIONALID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONTENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GTIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LIC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LPP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NaS7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedBESTBEFORE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedExpiry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NormalizedPRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRODDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Produit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UoM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARCOUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VARIANT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Erreurs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Parse_11SoapIn">
    <wsdl:part name="parameters" element="tns:Parse_11" />
  </wsdl:message>
  <wsdl:message name="Parse_11SoapOut">
    <wsdl:part name="parameters" element="tns:Parse_11Response" />
  </wsdl:message>
  <wsdl:message name="Parse_22SoapIn">
    <wsdl:part name="parameters" element="tns:Parse_22" />
  </wsdl:message>
  <wsdl:message name="Parse_22SoapOut">
    <wsdl:part name="parameters" element="tns:Parse_22Response" />
  </wsdl:message>
  <wsdl:message name="Parse_30SoapIn">
    <wsdl:part name="parameters" element="tns:Parse_30" />
  </wsdl:message>
  <wsdl:message name="Parse_30SoapOut">
    <wsdl:part name="parameters" element="tns:Parse_30Response" />
  </wsdl:message>
  <wsdl:portType name="CIOdm_ParserIOSoap">
    <wsdl:operation name="Parse_11">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prend en entrée un code-barres et fournit en sortie 11 valeurs</wsdl:documentation>
      <wsdl:input message="tns:Parse_11SoapIn" />
      <wsdl:output message="tns:Parse_11SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Parse_22">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prend en entrée un code-barres et fournit en sortie 22 valeurs</wsdl:documentation>
      <wsdl:input message="tns:Parse_22SoapIn" />
      <wsdl:output message="tns:Parse_22SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Parse_30">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prend en entrée un code-barres et fournit en sortie 30 valeurs</wsdl:documentation>
      <wsdl:input message="tns:Parse_30SoapIn" />
      <wsdl:output message="tns:Parse_30SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CIOdm_ParserIOSoap" type="tns:CIOdm_ParserIOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse_11">
      <soap:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parse_22">
      <soap:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parse_30">
      <soap:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_30" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CIOdm_ParserIOSoap12" type="tns:CIOdm_ParserIOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse_11">
      <soap12:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_11" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parse_22">
      <soap12:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_22" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parse_30">
      <soap12:operation soapAction="http://www.Phast.fr/RLIO/CIOdm/Parse_30" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CIOdm_ParserIO">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phast CIOdm ParserIO - version 0.26 du 19/04/11</wsdl:documentation>
    <wsdl:port name="CIOdm_ParserIOSoap" binding="tns:CIOdm_ParserIOSoap">
      <soap:address location="http://extension.phast.fr/WebServices/CIOdm/CIOdm_ParserIO.asmx" />
    </wsdl:port>
    <wsdl:port name="CIOdm_ParserIOSoap12" binding="tns:CIOdm_ParserIOSoap12">
      <soap12:address location="http://extension.phast.fr/WebServices/CIOdm/CIOdm_ParserIO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>